body {
    margin: 0;
    overflow: hidden;
    color: #fff;
    background-color: #000;
    display: flex;
    /* Stack children vertically */
    flex-direction: column; 
    /* Center horizontally */
    align-items: center;    
    /* Center vertically */
    justify-content: center; 
    /* Full viewport height */
    height: 100vh;          
}

.sphere {
    fill: #4242e4;
}

.country {
    fill: lightgreen;
    stroke: black;
    stroke-width: 0.32px;
}
.country:hover {
    fill: red;
}

#BR {
    fill: black;
}
#BR:hover {
    fill: red;
}

.charts {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 960px; 
    margin-top: 20px; 
}

.chart {
    width: 200px;
    height: 150px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.chart.visible {
    opacity: 1;
}
